[package]
name = "shared-domain"
version.workspace = true
edition.workspace = true

[dependencies]
serde.workspace = true
thiserror.workspace = true
chrono.workspace = true
uuid.workspace = true

[lib]
path = "lib.rs"
